@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --title-font-size: 1.8rem;
    --subtitle-font-size: 1.25rem;

    --color-bg: #f7eae5;
    --color-primary: #292929;
    --color-secondary: #b7bad5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Quicksand", sans-serif;
    background-color: var(--color-bg);
}

.hr {
    border: 1px solid var(--color-secondary);
    margin: .5rem 0 1rem 0;
}

.btn {
    display: inline-block;
    width: 120px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    padding: 0 10px;
    background-color: #A2A5C2;
    color: black;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 8px;
    position: relative;
    transition: .3s ease;
}

.btn:hover {
    background-color: var(--color-secondary);
    filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.33));
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    margin-top: 1rem;
}

.header {
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.containerCards {
    position: relative;
}

.contentCard {
    display: flex;
    width: 550px;
    height: 200px;
    margin: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    -webkit-box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.5);
}

.subtitle small {
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
}

.consultasCard {
    display: flex;
    width: 550px;
    height: 250px;
    margin: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    -webkit-box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.5);
}

.ofertasCard {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 550px;
    height: 450px;
    margin: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    -webkit-box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.5);
}