@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --h1-font-size: 1.8rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1rem;
    --description-font-size: .5rem;

    --color-bg: #f7eae5;
    --color-text: #292929;
    --color-2: #B7BAD5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Quicksand", sans-serif;
    background-color: var(--color-bg);
}

/* SCROLL BAR */
body::-webkit-scrollbar {
    width: 9px;
}

body::-webkit-scrollbar-thumb {
    background: #525680;
    border-radius: 3px;
}

.hr {
    border: 1px solid var(--color-2);
    margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    width: 150px;
    height: 45px;
    line-height: 2em;
    overflow: hidden;
    cursor: pointer;
    padding: 0 10px;
    z-index: 1;
    background-color: #A2A5C2;
    color: black;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 8px;
    position: relative;
    transition: .3s ease;
}

.btn:hover {
    background-color: var(--color-2);
    filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.33));
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Section Courses */
.section {
    padding: 2rem;
}

/* .courses {} */

.section header {
    margin-bottom: 1rem;
    display: flex;
}

.logotipo {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    opacity: 8%;
}

.title {
    color: black;
    margin: 10px 0;
    font-size: var(--h1-font-size);
}

/* Container Courses */
.containerCourses {
    max-width: 1200px;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 255px;
    height: 300px;
    background-color: #B7BAD5;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.titleCourse {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 10px 0;
    font-size: var(--h3-font-size);
}

.imgCourse {
    width: 100px;
}

.card a {
    margin: 20px;
}

/* ========== SECCION CONTACTO ========== */

.containerConsultas {
    margin: 15px 0 25px;
}

.twoPartForm {
    display: flex;
    gap: 10px;
}

.contactContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    position: relative;
    margin-top: .1rem;
    margin-bottom: 1.9rem;
}

.input {
    height: 56px;
    width: 328px;
    border: 2px solid black;
    background-color: transparent;
    padding: .6rem 1.2rem;
    color: black;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: .5px;
    outline: none;
    border-radius: .50rem;
    transition: .3s;
}

textarea.input {
    width: 666px;
    padding: .8rem 1.2rem;
    min-height: 140px;
    border-radius: .50rem;
    resize: none;
}

.inputContainer label {
    position: absolute;
    background-color: var(--color-bg);
    left: 1rem;
    transform: translateY(-50%);
    padding: 0 .4rem;
    color: black;
    font-size: .875rem;
    font-weight: 500;
    pointer-events: none;
    z-index: 15;
    transition: .5s;
}

#msg {
    color: #61b752;
    margin-top: .25rem;
    display: block;
}

/*========== FOOTER ==========*/

footer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: #292929;
}

footer article {
    height: 75px;
    width: 860px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 30px 30px 0 0;
    background: #A2A5C2;
    line-height: 22px;
}

.update {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.copy {
    display: inline-block;
    position: relative;
    color: var(--color-primary);
    font-size: 18px;
    font-weight: 500;
}

.copy:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .4s;
}

.copy:hover:after {
    width: 100%;
    cursor: pointer;
    background: #333;
    text-decoration: underline;
}

/* ========== MEDIA QUERIES ========== */

/* Pantallas medianas */
@media (min-width: 768px) and (max-width: 1024px) {
    .containerCourses {
        flex-wrap: wrap;
    }

    .card {
        width: 40%;
    }
}


/* Pantallas chicas */
@media only screen and (max-width: 767px) {

    .logotipo {
        width: 100%;
        opacity: 8%;
    }

    .containerCourses {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 255px;
        height: 300px;
    }

    .imgCourse {
        width: 80px;
    }

    .containerConsultas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contactForm {
        max-width: 428px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .twoPartForm {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    textarea {
        max-width: 328px;
    }
    
}