@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --title-font-size: 1.8rem;
    --subtitle-font-size: 1.25rem;
    --minititle-font-size: 1rem;
    --description-font-size: .5rem;

    --color-bg: #f7eae5;
    --color-primary: #292929;
    --color-secondary: #B7BAD5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Quicksand", sans-serif;
    background-color: var(--color-bg);
}

.hr {
    border: 1px solid var(--color-secondary);
    margin: .5rem 0 1rem 0;
}

.btn {
    display: flex;
    align-items: center;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    padding: 0 10px;
    background-color: #A2A5C2;
    color: black;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 8px;
    position: relative;
    transition: .3s ease;
}

.btn:hover {
    background-color: var(--color-secondary);
    filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.33));
    cursor: pointer;
}

/* Iconos de los botones */
.icon {
    font-size: 1.5rem;
}

/* HEADER */
.header {
    position: relative;
    top: .5rem;
}

.header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    margin-top: 1rem;
}

.div-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.subtitle {
    position: absolute;
    top: .8rem;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 0 .5rem 1rem;
}

.subtitle span {
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
    margin-left: 5px;
}

.container-cards {
    position: relative;
    display: flex;
    padding: 1rem 0;
    margin: 1rem 0;
    width: 1000px;
    height: 300px;
    background-color: #81849f;
    border-radius: 6px;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    display: flex;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: var(--color-secondary);
}

.minititle {
    font-size: var(--minititle-font-size);
}

.img-card {
    width: 70px;
}

/*========== TARJETA DE CONSULTA ==========*/

/* contenedor de la card de consula */
.container-consulta {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

/* Card de consulta */
.card-consulta {
    width: 400px;
    height: 200px;
    display: flex;
    margin: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid grey;
    border-radius: 4px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.5);
}

/* icono de imagen de la card */
.img-consulta {
    width: 70px;
}

/* contenedor del icono y el titulo */
.card-consulta div {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Icono del ultimo titulo */
.card-consulta div i {
    font-size: 1.5rem;
    color: #600F0F;
}

.btn-consulta {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    height: 50px;
    cursor: pointer;
    background-color: #A2A5C2;
    color: black;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 8px;
    position: relative;
    transition: .3s ease;
}

.btn-consulta:hover {
    background-color: var(--color-secondary);
    filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.33));
    cursor: pointer;
}







/*========== FOOTER ==========*/

footer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: #292929;
}

footer article {
    height: 75px;
    width: 860px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 30px 30px 0 0;
    background: #A2A5C2;
}

.update {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.copy {
    display: inline-block;
    position: relative;
    color: var(--color-primary);
    font-size: 18px;
    font-weight: 500;
}

.copy:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .4s;
}

.copy:hover:after {
    width: 100%;
    cursor: pointer;
    background: #333;
    text-decoration: underline;
}

@media (max-width: 428px) {

    .title {
        font-size: 1.5rem;
    }

    .container {
        max-width: 380px;
    }

    .container-cards {
        max-width: 380px;
        flex-wrap: wrap;
        height: 100%;
        gap: 1rem;
    }

    .card {
        width: 45%;
    }

    .subtitle {
        position: static;
    }

    .minititle {
        font-size: .9rem;
    }

    .img-card {
        width: 50px;
    }

    .btn {
        font-size: 14px; 
    }

    /* Iconos de los botones */
    .icon {
        font-size: .9rem;
    }


}